@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-principal: 'Quicksand', sans-serif;
  --font-principalee: 'Caveat', cursive;
  --font-principale: 'Comfortaa', cursive;
} 

 @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

body {
  font-family: var(--font-principal);
  /* color: rgb(var(--foreground-rgb));
   background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

#stack {
  font-family: var(--font-principal) !important;
  font-style: normal;
  color: black ;
}

#works{
  font-family: var(--font-principale) !important;
}



li:hover {
  color: #E5384F;
}

nav {
  z-index: 5 !important;
}

#scroll{
  z-index: 5 !important;
}




